p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
.container {
  max-width: 1440px;
}
/* -----------HEADER----------- */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-span {
  color: #2e2f42;
}

.navigation {
  color: #2e2f42;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation:hover,
.navigation:focus {
  color: #404bbf;
  text-decoration: none;
}

.contacts {
  font-style: normal;
}

.contacts .cont-link {
  color: #434455;
  text-decoration: none;

  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts .cont-link:hover,
.contacts .cont-link:focus {
  color: #404bbf;
  text-decoration: none;
}

.header-menu-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.contacts {
  margin-left: auto;
  align-items: center;
}

.header-contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
/* ----------- SECTION ONE (MAIN)----------- */

.main-section {
  background-color: #2e2f42;
  max-width: 1440px;
  max-height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
}

.main-header {
  font-size: 50px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  max-height: 120px;
  margin: 0 auto;
  margin-bottom: 48px;
  margin-top: 60px;
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 0 auto;
  min-height: 56px;
  min-width: 169px;
  border-radius: 4px;
  border: none;
}

.button:hover,
:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/* ----------- SECTION TWO (FEATURES)----------- */

.features-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-advantages-list {
  max-width: 1128px;
  max-height: 104px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 24px;
}
.features-item {
  width: calc((100% - 3 * 24px) / 4);
}
.features-advantages {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ----------- SECTION THREE (TEAM)----------- */

.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 36px;
  border-block-start: 36px;
  margin-bottom: 72px;
}

.team-list-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 24px;
  padding-left: 156px;
  padding-right: 156px;
  padding-top: 36px;
  padding-bottom: 120px;
}

.team-list {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-members {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* ----------- SECTION FOUR (PORTFOLIO)----------- */

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  max-width: 232px;
  margin-top: 120px;
  margin-right: 611px;
  margin-left: 611px;
  margin-bottom: 48px;
}

.portfolio-offers {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-offers-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px 24px;
  margin: 0 auto;
  padding-top: 24px;
  padding-left: 156px;
  padding-right: 156px;
  padding-bottom: 24px;
}

.portfolio-list {
  width: calc((100% - 3 * 24px) / 4);
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 156px;
  padding-right: 1020px;
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-span {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
